:root {
    --bg: #0a0a0f;
    --bg2: #111118;
    --bg3: #1a1a24;
    --accent: #7c6af7;
    --accent2: #4ecdc4;
    --text: #e8e8f0;
    --text2: #9090a8;
    --border: rgba(124,106,247,0.2);
    --card: rgba(255,255,255,0.03);
  }

* { margin: 0; padding: 0; box-sizing: border-box; }

html { scroll-behavior: smooth; }

body {
font-family: 'Space Grotesk', sans-serif;
background: var(--bg);
color: var(--text);
}
::-webkit-scrollbar{
    width:8px;
    height:10px;
}

::-webkit-scrollbar-track{
    background:#0a0a0f;
}

::-webkit-scrollbar-thumb{

    background: #7c6af7;

    border-radius:20px;
}
.header{
    height:60px;
    width:100%;
    background:
    rgba(11, 11, 11, 0.678);
    padding-left:10px;
    padding-right:10px;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position:fixed;
    top:0;
    left:0;
    z-index:100;
    box-shadow: 0px 0px 2px  #7c6af7;
    backdrop-filter:blur(16px);
    transition: all 0.4s ease;
}
.header-lists{
    display: flex;
    flex-direction: row;
    gap:30px;
    padding-right: 20px;
}
.header-lists li{
    list-style: none;
}
.header-lists li a{
    text-decoration: none;
    color:#9090a8;
    
    transition: color 0.5s ease;
}
.header-lists li a:hover{
    color: #7c6af7;
}
.logo{
    color:#7c6af7;
    padding-left: 50px;
}
.logo-name{
    color:#4ecdc4;
}
.header-lists a.active{
    color:#7c6af7;
}

/* - -- - - - - - - Hero */
.hero{
    height:100dvh;
    display:flex;
    align-items:center;
}
.hero-content{
    
    width:100%;
    padding-left: 50px;
}
.available{
    margin-top:10px;
        display:flex;
        align-items:center;
        gap:10px;
    
        width:max-content;
    
        padding:0 15px;
        height:30px;
    
    border-radius:50px;
    
    box-shadow:0 0 2px #7c6af7;

    animation: fadeInDown 1s ease;


}
@keyframes fadeInDown{
    0%{opacity:0; transform: translateY(-30px);}
    100%{opacity:1; transform: translateY(0px);}
}
.round-animation{
    width:7px;
    height:7px;
    background-color:#4ecdc4;
    border-radius: 50%;
    margin-left: 10px;
    margin-right: 5px;
}
.available p{
    font-size: 1rem;
    display:inline;
    margin-left: 0px;
    color:#7c6af7;
}
.hero-name-container{
    margin-top: 8px;

    animation: fadeInUp 1s ease;
}
@keyframes fadeInUp{
    0%{opacity:0; transform: translateY(35px);}
    100%{opacity:1; transform: translateY(0px);}
}
.hero-name-container h1{
    font-size: clamp(2.7rem, 8vw, 7rem);
}
.hero-name{
    background: linear-gradient(150deg, #7c6af7, #4ecdc4);
    background-clip: text;
    -webkit-background-clip: text;
    color:transparent;
}
.hero-p{
    font-size:1.05rem;
    color:#9090a8;
    max-width:600px;
    margin-right: 12px;
    margin-top: 10px;
    margin-bottom:25px;

    animation: fadeInUp 1.1s ease;
}
.hero-button-container{
    width:300px;
    display:flex;
    flex-direction: row;
    align-items: center;
    gap:30px;

    animation: fadeInUp 1.3s ease;

}
.hero-button-container button{
    
    border-radius:10px;
    
    cursor:pointer;
    color:white;
}
.work-btn{
    border:none;
    padding: 15px 15px;
    background-color: #7c6af7;
    text-align: center;
    font-weight: bold;
    margin-left: 0px;
    box-shadow:0 0 0 transparent;
    transition: all 0.4s ease;
}
.work-btn:hover{
    box-shadow: 0px 2px 20px #7c6af7;
    transform: translateY(-5px);
}
.contact-btn{
    padding: 18px 20px;
    background-color: #1a1a24;
    border:1px solid #7d6af78b;
    font-weight: bold;

    transition:all 0.4s ease;
}
.contact-btn:hover{
    color:#7c6af7;
    border:1px solid #7c6af7;
}
.round-animation{
    animation-name: pulse;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
}
@keyframes pulse {
    0%,100% {opacity:1; transform: scale(1);box-shadow:
        0 0 5px #4ecdc4,
        0 0 15px #4ecdc4,
        0 0 30px #4ecdc4;}
    50% {opacity:0.5; transform:scale(0.8);box-shadow:
        0 0 5px #4ecdc4,
        0 0 15px #4ecdc4,
        0 0 30px #4ecdc4;}
}

/* - -- - - - - - - ABOUT - - - - - - - -  */

#about{
    display:grid;
    grid-template-columns: 1fr 1fr;
    gap:4rem;
    padding-left: 50px;
    padding-right: 50px;
    align-items: center;
    background-color: var(--bg2);
    padding-top:7rem;
}
.about-first-p{
    color:#7c6af7;
    font-size:13px;
    margin-bottom: 18px;
}
.about-data h1{
    font-size: clamp(2rem, 4vw, 5rem);
}
.about-name{
    color:#7c6af7;
}
.about-data p{
    color:#9090a8;
}
.p-name{
    color:white;
}
.about-cards{
    margin-top:20px;
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    gap:1.5rem;
}
.card{
    border:1px solid #7d6af76d;
    border-radius: 10px;
    padding:1.5rem;
    background-color: var(--bg3);

    transition: all 0.4s ease;
}
.card h2{
    color:#7c6af7;
    font-size: 1.9rem;

    
}
.card:hover{
    border:1px solid #7d6af7;
    transform:translateY(-10px);
}

.about-skill-container{
    display:flex;
    flex-direction: column;
    gap:30px;
    margin-top: 60px;
}

.skill-arrange{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom:6px;
}
.skill-anim{
    position:relative;
    height:5px;
    width:100%;
    border-radius: 8px;

    background-color: #1a1a24;
}
.skill-fill{
    position:absolute;
    height:100%;
    border-radius: 8px;
    background: linear-gradient(90deg,var(--accent), var(--accent2));
    
}
.html{
    width:90%;
    animation: skillAnimHtml 1s ease both;
    animation-timeline: view();
    animation-range: entry 0% cover 50%;
}
@keyframes skillAnimHtml{
    from{width:0%} to {width:90%}
}
.css{
    width:80%;
    animation: skillAnimCss 1s ease both;
    animation-timeline: view();
    animation-range: entry 0% cover 50%;
}
@keyframes skillAnimCss{
    from{width:0%} to {width:80%}
}
.javascript{
    width:70%;
    animation: skillAnimJs 1s ease both;
    animation-timeline: view();
    animation-range: entry 0% cover 50%;
}
@keyframes skillAnimJs{
    from{width:0%} to {width:70%}
}
.git{
    width:65%;
    animation: skillAnimGit 1s ease both;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
}
@keyframes skillAnimGit{
    from{width:0%} to {width:65%}
}
.responsive{
    width:75%;
    animation: skillAnimRes 1s ease both;
    animation-timeline: view();
    animation-range: entry 0% cover 30%;
}
@keyframes skillAnimRes{
    from{width:0%} to {width:75%}
}

/* - -- - - - - - - SKILL - - - - - - - -  */

#skills{
    padding-left:50px;
    padding-right:50px;
    padding-top:8rem;
}
.skill-p{
    color:#7c6af7;
    margin-bottom:10px;
}
.skills-data h2{
    font-size: clamp(2rem, 5vw, 3rem);
}
.skills-name{
    color:#7c6af7;
}
.skills-cards-container{
    margin-top: 15px;
    display:grid;
    grid-template-columns: repeat(auto-fit,minmax(150px,1fr));
    gap:20px;
}
.skills-card{
    padding:1.5rem;
    text-align: center;
    background-color: var(--bg);
    font-weight: bold;
    border-radius: 12px;
    border:1px solid #7d6af759;

    transition:all 0.4s ease;
}
.skills-card:hover{
    color: #7c6af7;
    border:1px solid #7d6af7;
    transform:translateY(-10px);
}

/* - -- - - - - - - PROJECTS - - - - - - - -  */

#projects{
    padding-left: 50px;
    padding-right: 50px;
    padding-top:7rem;
    margin-top: 2.5rem;
}
.project-p{
    color:#7c6af7;
    margin-bottom: 10px;
}
#projects h2{
    font-size:clamp(2rem, 5vw, 3rem);
    margin-bottom:25px;
}
.project-name{
    color:#7c6af7;
    margin-bottom: 15px;
}
.project-card-container{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(180px, 1fr));
    gap:20px;
}
.project-card{
    position:relative;
    border:1px solid #7d6af75a;
    background-color: var(--bg3);
    border-radius: 10px;
    padding:20px;
    overflow: hidden;

    transition:all 0.4s ease;
}
.project-card::before{
    content:"";
    position:absolute;
    height:3px;
    top:0px;
    left:0px;
    width:100%;
    background: linear-gradient(90deg, var(--accent), var(--accent2));

    transform:scaleX(0);
    transform-origin: left;
    transition:transform 0.4s ease;

    will-change:transform;
}

.project-card:hover::before{
    transform:scaleX(1);
}
.project-card:hover{
    transform: translateY(-10px);
    border:1px solid #7d6af7da;
}
.project-top{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 28px;
}
.project-emoji{
    font-size:2.7rem;
}
.project-link{
    background-color: var(--bg2);
    border-radius: 8px;
    height:40px;
    width:40px;
    padding-top:8px;
    padding-left:0px;
    text-align: center;
    border:1px solid #9090a834;
    cursor:pointer;

    transition: all 0.4s ease;
}
.project-link a{
    color:#9090a8;
    text-decoration: none;
    transition: all 0.4s ease;
}
.project-link:hover{
    border:1px solid #7c6af7;
}
.project-link:hover a{
    color:#7c6af7;
}
.project-card h3{
    margin-bottom:20px;
}
.project-card p{
    color:#9090a8;
    margin-bottom:20px;
}
.project-bottom{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap:20px;
    margin:auto;
}
.project-bottom span{
    border:1px solid #7c6af7;
    color:#7c6af7;
    background-color: #7d6af715;
    padding:0.3rem;
    border-radius: 8px;
}
/*  -- -  - - - -  - contact- - - -*/

#contact{
    padding:50px;
    margin-top:2.5rem;
    margin-bottom: 2.5rem;
}
.contact-container{
    display:flex;
    flex-direction: column;
    gap:20px;
    justify-content: center;
    align-items: center;
}
.contact-p{
    color:#9090a8;
}
.contact-container h2{
    font-size: clamp(2rem, 5vw, 3rem);
}
.contact-container span{
    color:#7c6af7;
}
.contact-container p{
    color:#9090a8;
    width:50%;
    margin-bottom: 18px;
}
.contact-cards{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap:20px;
}
.contact-card{
    text-decoration: none;
    color:#9090a8;
    border-radius: 10px;
    padding:15px 25px;
    border:1px solid #9090a865;
    cursor:pointer;

    transition:all 0.4s ease;
}
.contact-card:hover{
    
    border:1px solid #7c6af7;
    color:#7c6af7;
    transform:translateY(-5px);
}

/* - - -- - - - footer  - - - -*/

footer{
    text-align: center;
    padding:30px;
    border-top: 1px solid #7d6af75e;
}
footer span{
    color:#7c6af7;
}

/*- - - -  - responsive- - */
@media (max-width:580px){
    .logo{
        padding-left: 20px;
    }
    .header-lists{
        display:none;
    }
    #about{
        display:grid;
        grid-template-columns: 1fr;
        gap:2rem;
        padding-left: 30px;
    }
    .about-data h1{
        font-size: 3.2rem;
        margin-bottom:10px;
    }
    #skills{
        padding-left: 30px;
    }
    .skills-data h2{
        font-size: 3rem;
        margin-bottom: 30px;
    }
    #projects{
        padding-left: 30px;
    }
    #projects h2{
        font-size: 3rem;
        margin-bottom: 30px;
    }
    .project-card-container{
        display: grid;
        grid-template-columns: repeat(auto-fit,minmax(300px, 1fr));
        gap:1rem;
    }
    #contact{
        padding-left: 30px;
    }
    .contact-container h2{
        font-size:2.8rem;
    }
    .contact-container p{
        width:100%;
    }
    .contact-cards{
        width:100%;
        display:grid;
        grid-template-columns: repeat(auto-fit,minmax(80px,1fr));
        gap:1rem;
        
    }
    .contact-card{
        font-size: 0.69rem;
        text-align: center;
        font-weight: bold;
        padding:10px 15px;
    }
    .hero-content{
        padding-left: 30px;
    }
    

}